# Cấu hình mẫu cho Ninja School Offline
server.id=1
server.log.display=false
server.port=14444

db.host=127.0.0.1
db.port=3306
db.user=root
db.password=
db.dbname=nsoz
db.driver=com.mysql.cj.jdbc.Driver
db.minconnections=2
db.maxconnections=10

# MongoDB không cần cho cấu hình mặc định nếu open.historySQL=true.
mongodb.host=127.0.0.1
mongodb.port=27017
mongodb.dbname=admin
mongodb.user=root
mongodb.password=

websocket.host=ws://127.0.0.1
websocket.port=14444

game.upgrade.percent.add=0
game.store.discount=0
game.shinwa.active=false
game.shinwa.fee=5000
game.shinwa.max=3
game.shinwa.player.max=30
game.arena.active=true
game.login.limit=7
game.quantity.display.max=65535
server.notification=Hellos
game.data.version=2
game.item.version=2
game.map.version=2
game.skill.version=2
game.maxLv=131
threadPoolSize=50
scheduledPoolSize=20
game.event=Exe_Z.event.OFF
event.year=2025
event.month=5
event.day=27
event.hour=23
event.minute=59
event.second=59
client.data.size.max=1024
percent.damemob=2
# true = lưu lịch sử vào MariaDB; false = không ghi các bảng history.
open.historySQL=true
